<!doctype html>
<html>
  <head>
    <title>Leprecon</title>
    <script src="3p/htmx.min.js"></script>
    <link href="css/output.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icon/favicon-16x16.png"
    />
  </head>
  <body class="grid grid-cols-9 grid-flow-col">
    <div class="col-span-1 bg-purple-500">Left bar</div>
    <div class="col-span-8 bg-orange-300">
      <div class="bg-red-200 h-20">Nav bar</div>
      <div class="bg-blue-500 overflow-y-scroll h-[calc(100vh-5rem)]">
        <h1
          id="default"
          hx-get="/home"
          hx-trigger="load"
          hx-target="this"
          hx-swap="outerHTML"
        >
          Loading...
        </h1>
        <div
          id="loading-service"
          hx-get="/loading"
          hx-trigger="load"
          hx-target="this"
          hx-swap="outerHTML"
        >
          Loading...
        </div>
        <div class="!max-h-none !max-w-none">
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
          <div>OVERLOAD</div>
        </div>
        <footer class="bg-yellow-300">Test</footer>
      </div>
    </div>
  </body>
  <script src="js/htmx_handlers.js"></script>
  <footer></footer>
</html>
