<!doctype html>
<html>
  <head>
    <title>Leprecon</title>
    <script src="3p/htmx.min.js"></script>
  </head>
  <body>
    <h1
      id="default"
      hx-get="/home"
      hx-trigger="load"
      hx-target="this"
      hx-swap="outerHTML"
    >
      Loading...
    </h1>
    <div
      id="loading-service"
      hx-get="/loading"
      hx-trigger="load"
      hx-target="this"
      hx-swap="outerHTML"
    >
      Loading...
    </div>
  </body>
  <script src="js/htmx_handlers.js"></script>
  <footer></footer>
</html>
